/* Me permite deslizar cuando hago clic en los links*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    background-color: black;
    padding: 20px 0;
}


.caja {
    position: relative;
    margin: 0 auto;
}

.logo img {
    width: 20%;
}

.links {
    position: absolute;
    top: 70px;
    right: 22px;
}

.links li {
    display: inline-block;
    margin: 0 0 0 15px;
}

.links a {
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.links a:hover {
    color: rgb(201, 193, 147);
}

.inicio {
    background-image: url(imagenes/portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 25em;
}

.inicio2 {
    padding: 2% 0 5%;
    font-family: "Raleway", sans-serif;
    background: #c9ffbe;
}

.titulo {
    font-size: 3vw;
    text-align: center;
    font-family: "Croissant One", serif;
}

.contenido-yo {
    width: 25%;
    border-radius: 50%;
    margin-top: 20px;
    position: absolute;
    right: 71%;
    bottom: 6rem;
}

.redes {
    color: white;
}

.contenido-texto {
    position: relative;
}

.contenido-texto h3 {
    font-size: 3%;
}

.contenido-banner {
    background-color: white;
    border: 5px solid black;
    width: 35vw;
    text-align: right;
    border-radius: 40px;
    line-height: 5px;
    position: relative;
    left: 20%;
    padding: 4rem 3rem 4rem 15rem;
}

.contenido-banner h1 {
    font-weight: bold;
    font-size: 2vw;
}

.contenido-banner h2 {
    font-size: 1vw;
    font-family: "Kode Mono", monospace;
    font-weight: lighter;
}

.sobre-mi {
    line-height: 2.5vw;
}

.redes a {
    color: black;
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    transition: .3s;

}

.redes a:hover {
    color: rgb(201, 193, 147);
}

.descargar {
    min-width: 130px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #57cc99;
    background: #57cc99;
    margin: 2%;
    text-decoration: none;
    position: relative;
    right: 10rem;
    top: 2rem;
  }

  .css-button-rounded--green:hover {
    background: #fff;
    color: #57cc99
  }


.contenido-imagen {
    width: 25%;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5%;
}

.contenido-imagen2 {
    width: 25%;
    margin-top: 20px;
    position: absolute;
    left: 73%;
    border-radius: 5%;
}

/*CSS Skills */

.skillsall {
    background: white;
    padding: 0 0 5%;
}

.contenido-skills {
    margin: auto;
    font-family: "Raleway", sans-serif;
}

.contenido-skills h1 {
    font-family: "Croissant One", serif;
    font-size: 3vw;
    text-align: center;
    padding: 20px 0;
}

.contenido-skills .fila {
    margin: 0 6rem;
    display: flex;
}

.contenido-skills .hskills {
    width: 50%;
    padding: 0 20px;
}

.contenido-skills .skills > span {
    display: block;
    margin-bottom: 10px;
}

.contenido-skills .skills .barra-skills {
    height: 8px;
    width: 80%;
    background-color: #c9ffbe;
    position: relative;
    margin-bottom: 30px;
}

.contenido-skills .skills .barra-skills span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgb(201, 193, 147);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.contenido-skills .skills .progreso {
    background-color: rgb(201, 193, 147);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.contenido-skills .skills .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.contenido-skills .skills .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 75%;}
}

.contenido-skills .skills .git {
    width: 0%;
    animation: 2s git forwards;
}

@keyframes git {
    0%{width: 0%;}
    100%{width: 55%;}
}

.contenido-skills .skills .react {
    width: 0%;
    animation: 2s react forwards;
}

@keyframes react {
    0%{width: 0%;}
    100%{width: 35%;}
}

.contenido-skills .skills .trabajoenequipo {
    width: 0%;
    animation: 2s trabajoenequipo forwards;
}

@keyframes trabajoenequipo {
    0%{width: 0%;}
    100%{width: 95%;}
}

.contenido-skills .skills .rproblemas {
    width: 0%;
    animation: 2s rproblemas forwards;
}

@keyframes rproblemas {
    0%{width: 0%;}
    100%{width: 95%;}
}

.contenido-skills .skills .resiliencia {
    width: 0%;
    animation: 2s resiliencia forwards;
}

@keyframes resiliencia {
    0%{width: 0%;}
    100%{width: 85%;}
}

.contenido-skills .skills .responsabilidad {
    width: 0%;
    animation: 2s responsabilidad forwards;
}

@keyframes responsabilidad {
    0%{width: 0%;}
    100%{width: 95%;}
}

/* CSS PORFOLIO */
.porfolio {
    background: black;
    padding: 1% 2% 5% 2%;;
}

.porfolio h1 {
    color: white;
    font-size: 3vw;
    text-align: center;
    padding: 20px 0;
    font-family: "Croissant One", serif;
}


.lenguajes {
    font-size: 2em;
    margin: 2%;
}

.lenguajes a {
    border: 1px solid black;
    border-radius: 20%;
    padding: 0px 16px;
    font-size: 80%;
}

.html5 {
    color: orangered;
}

.css3 {
    color: rgb(101, 101, 255);
}

.react {
    color: rgb(40, 123, 247);
}

.ljavascript {
    color: rgb(255, 215, 36);
}

.link a {
    font-size: 1.5em;
    color: black;
    margin: 2%;
}

.link a:hover {
    color: rgb(201, 193, 147);
}

/* CSS Slider */

.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1%);
    width: 80%;
    height: 489px;
    background: #f5f5f5;
    border-radius: 10px;

}

.container .slide .item{
    width: 150px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
}

.slide .item:nth-child(3){
    left: 63%;
    border: 3px solid white;
    background-position: 50% 50%;
}
.slide .item:nth-child(4){
    left: calc(60% + 19%);
    border: 3px solid white;
    background-position: 50% 50%;
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content{
    position: absolute;
    border: 2px solid #000;
    font-size: 12px;
    border-radius: 10px;
    padding: 1% 3%;
    top: 61%;
    left: 50px;
    width: 232px;
    text-align: left;
    color: black;
    font-family: system-ui;
    display: none;
    background: white;
}

.slide .item:nth-child(2) .content{
    display: block;
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button{
    width: 100%;
    text-align: center;
    transform: translate(10px, 22px);
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}


/* CSS EDUCACION */
.educacion {
    background: white;
    padding: 50px 20px;
    
}

.educacion h1 {
    font-size: 3vw;
    font-family: "Croissant One", serif;
    text-align: center;
}

.educacion h3 {
    color: rgb(201, 193, 147);
}

.educacion button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: white;
    overflow: hidden;
    border: 2px solid #212529;
    color: #212529;
}
.educacion button:hover {
    color: #fff;
}
.educacion button:hover:after {
    width: 100%;
}
.educacion button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #212529;
}

.contenido-educacion {
    background: #c9ffbe;
    font-family: "Kode Mono", monospace;
    border: 5px solid rgb(201, 193, 147);
    padding: 2rem 3rem;
    width: 45%;
    position: relative;
    left: 23%;
}

/* CSS contactame */
.contacto {
    background: rgb(201, 193, 147);
    padding: 1% 2% 2% 2%;
    text-align: center;
}

.contacto h1 {
    font-family: "Croissant One", serif;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.contenido-contacto{
    font-size: 1.2rem;

}

.contenido-contacto i {
    padding: 1%;
}

.contenido-contacto p {
    font-weight: bold;
    color: white;
}

.contenido-contacto .contactolink {
    color: white;
}
.contenido-contacto a {
    font-weight: normal;
    text-decoration-line: underline;
}

.contenido-contacto h3 {
    font-family: "Kode Mono", monospace;
    width: 100%;
    color: white;
}
/* CSS Móvil */
@media(max-width: 600px)  {
    .ficha {
        margin: 0.5em;
    }
    .links {
        position: absolute;
        top: 20px;
        right: -200px;
    }

    .links a {
        text-transform: uppercase;
        font-size: 15px;
        text-decoration: none;
    }

    .logo img {
        width: 5%;
    }

    .contenido-banner {
        margin: auto;
        position: static;
    }

    .contenido-banner h2 {
        font-size: 0.5rem;
    }

    .contenido-texto h3 {
        font-size: 1rem;
    }

    .sobre-mi {
        line-height: 1rem;
        font-size: 1rem;
    }
    .contenido-yo {
        position: absolute;
        top: 95%;
        width: 17%;
    }

}





